.reddit-tops-body {
    display: flex;
    flex-direction: column;
}

form {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: crimson;
}

.subreddit-input-wrapper {
    font-size: large;
    font-weight: 700;
}

.subreddit-submit {
    padding: 20px;
    color: scarlet;
}

.article {
    max-height: 100px;
    margin: 12px;
    background-color: antiquewhite;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 25px;
    cursor: pointer;
}

.author {
    cursor: pointer;
}

.ups,
.downs,
.thumbnail,
.text {
    margin: 12px;
}

.ups,
.downs,
.thumbnail {
    min-width: 100px;
    width: 100px;
}